#IDEs stuff
.idea/
*/.DS_Store
.DS_Store

# virtual env
venv/

#generated images in face_extractor
backend/face-extractor/*.png
backend/face-extractor/*.jpg
backend/face-extractor/*.jpeg

# images
images/

__pycache__
