#IDEs stuff
.idea/
*/.DS_Store
.DS_Store

# virtual env
venv/

#generated images in images_set_creation
backend/face-extractor/*.png
backend/face-extractor/*.jpg
backend/face-extractor/*.jpeg

# images
backend/images/

#frontend
frontend/node_modules

__pycache__

